# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Streamlit Secrets
# ==========================
.streamlit/secrets.toml
app/.streamlit/secrets.toml

# ==========================
# Firebase Key
# ==========================
firebase_key.json
*firebase-adminsdk*.json

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# macOS / Windows
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary Files
# ==========================
*.tmp
